.wrapper {
    max-width: 955px;
    margin: 0 auto;
  background-color: pink;
  overflow: hidden;
}
 
.container {
  width: 300px;
  height: 300px;
}
 
.slider {
  z-index: 1;
/*   border: 1px solid green; */
  display: flex;
  height: 320px;
  width: 500%;
  flex-shrink: 0;
  transition: all 0.5s;
}
.slider section {
  display: flex;
  width: 280px;
  margin: 17px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
 
button {
  position: absolute;
  top: 350px;
}